@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: -moz-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(164, 138, 171, 1)), color-stop(64%, rgba(61, 53, 69, 1)), color-stop(95%, rgba(11, 19, 22, 1)), color-stop(100%, rgba(11, 19, 22, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A48AAB', endColorstr='#0B1316', GradientType=1);
    background-size: cover;
}

.calculator {
    position: relative;
    left: 30%;
    top: 10px;
    border: 1px solid #ddd;
    width: 350px;
    height: 620px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
}

.calculator-display {
    position: relative;
    height: 180px;
    width: 315px;
    padding: 5px;
    top: 10px;
    right: 4px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    line-height: 45px;
    font-size: 1.8em;
    text-align: left;
    overflow: hidden;
    color: #eee;
}

.Keyboard--row {
    display: flex;
    justify-content: space-between;
}

.calculator-keypad {
    position: relative;
    top: 20px;
}

.calculator .Keyboard--row .key-Enter {
    font-size: 1.3em;
    width: 112px;
    background-color: #082554;
}

.calculator .Keyboard--row .key-CHS {
    background-color: #082554;
}

.calculator .Keyboard--row .key-EEX {
    background-color: #082554;
}

.calculator .Keyboard--row .key-CLR {
    background-color: #770101;
}

.calculator .Keyboard--row .key-CLX {
    background-color: #082554;
}

button {
    color: #eee;
    transition: all 0.5s;
    width: 42px;
    height: 42px;
    position: relative;
    border-radius: 100%;
    padding: 4px 0;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 3px;
    border-style: none;
    font-size: 0.9em;
}

button::active {
    background-color: rgba(255, 255, 255, 0.3);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
    border-radius: 100%;
}

button:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
    border-radius: 100%;
}

button:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.screen-button {
    position: absolute;
    top: 1px;
    width: 50px;
    height: 22px;
    left: 280px;
    background-color: #770101;
}

.programmedscreen {
    position: absolute;
    left: 350px;
    top: 0px;
    border: 1px solid #ddd;
    width: 350px;
    height: 620px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
}

.text-area {
    position: absolute;
    top: 55px;
    height: 500px;
    width: 327px;
    left: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    font-size: 1.5em;
    text-align: left;
    color: #eee;
}

.clear-button {
    background-color: #082554;
    top: 495px;
    right: 53px;
    cursor: pointer;
}

.run-button {
    position: relative;
    top: 545px;
    left: 47px;
    background-color: #770101;
    color: #eee;
    transition: all 0.5s;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    padding: 4px 0;
    margin: 3px;
    border-style: none;
    cursor: pointer;
}

.Record-button {
    position: absolute;
    color: #a50313;
    transition: all 0.5s;
    top: 570px;
    left: 180px;
    width: 80px;
    height: 42px;
    border-radius: 20px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.slow-button {
    position: absolute;
    color: #a50313;
    transition: all 0.5s;
    top: 0px;
    left: 75px;
    width: 80px;
    height: 42px;
    border-radius: 20px;
    text-align: center;
    font-size: 1em;
}

.step-button {
    background-color: #082554;
    top: 495px;
    left: 100px;
    cursor: pointer;
}

.local-storge {
    display: flex;
}

.LoadServer {
    left: 23px;
    display: block;
    background-color: #a50313;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 98px;
    z-index: 1;
}
.saveServer{
    left: 23px;
    display: block;
    background-color: #a50313;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 130px;
    z-index: 1;
}
.SaveScreen {
    position: absolute;
    left: 23px;
    display: block;
    background-color: #a50313;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 32px;
    z-index: 1;
}

.LoadScreen {
    position: absolute;
    left: 23px;
    display: block;
    background-color: #a50313;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    position: absolute;
    /* margin-left: 160px; */
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    z-index: 1;
    margin-top: 65px;
}

.local {
    position: absolute;
    left: 23px;
    display: block;
    background-color: #082554;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
}

.programName {
    position: absolute;
    margin-left: 160px;
    height: 30px;
    width: 160px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 1em;
    text-align: left;
    color: #eee;
    border-width: 1px;
    text-align: left;
    padding-left: 4px;
}

.save-button {
    position: relative;
    top: 545px;
    left: 90px;
    background-color: #770101;
    color: #eee;
    transition: all 0.5s;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    padding: 4px 0;
    margin: 3px;
    border-style: none;
    width: 120px;
    cursor: pointer;
}

.cancel {
    display: block;
    background-color: #a50313;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
}
.private {
    position: absolute;
    top: 574px;
}
.LiName {
    padding: 5px;
    cursor: pointer;
}

.program-list {
    position: absolute;
    top: 80px;
    left: 20px;
    list-style: none;
    color: white;
    display: block;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    padding-left: 0px;
    overflow: auto;
}


.cancel-but {
    display: block;
    background-color: #a50313;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}

.delete {
    margin-right: 20px;
    padding-left: 5px;
    background: black;
    padding-top: 5px;
    height: 30px;
    width: 60px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.listItems {
    background-color: #a50313;
    border-radius: 5px;
    color: white;
    display: flex;
    width: 290px;
    margin-bottom: 15px;
    text-align: left;
}

.log-in {
    padding: 20px;
    position: absolute;
    width: 25%;
    height: 100%;
}

.share{
     position: absolute;
    color: white;
    transition: all 0.5s;
    top: 0px;
    left: 15px;
    width: 80px;
    height: 42px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.3em;
}

.checkbox-1{
    width: 20px;
    top: 15px;
}
.checkbox{
    width: auto;
}

.my-checkbox{
    color: white;
    position: absolute;
    display: flex;
    width: 5%; 
    right: 90%;   
}

.myProgtams{
    position: absolute;
    left: 33px;
    color: white;
    
}
