@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
	font-family: 'Rubik', sans-serif;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: -moz-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(164, 138, 171, 1)), color-stop(64%, rgba(61, 53, 69, 1)), color-stop(95%, rgba(11, 19, 22, 1)), color-stop(100%, rgba(11, 19, 22, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(164, 138, 171, 1) 0%, rgba(61, 53, 69, 1) 64%, rgba(11, 19, 22, 1) 95%, rgba(11, 19, 22, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A48AAB', endColorstr='#0B1316', GradientType=1);
	background-size: cover;
}

.calculator {
	position: relative;
	margin: auto;
	top: 10px;
	border: 1px solid #ddd;
	width: 350px;
	height: 620px;
	border-radius: 10px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
}

.calculator-display {
	position: relative;
	height: 180px;
	width: 315px;
	padding: 5px;
	top: 10px;
	right: 4px;
	margin-bottom: 5px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	line-height: 45px;
	font-size: 1.8em;
	text-align: left;
	overflow: hidden;
	color: #eee;
}

.Keyboard--row {
	display: flex;
	justify-content: space-between;
}

.calculator-keypad {
	position: relative;
	top: 20px;
}

.calculator .Keyboard--row .key-Enter {
	font-size: 1.3em;
	width: 112px;
	background-color: #082554;
}

.calculator .Keyboard--row .key-CHS {
	background-color: #082554;
}

.calculator .Keyboard--row .key-EEX {
	background-color: #082554;
}

.calculator .Keyboard--row .key-CLR {
	background-color: #770101;
}

.calculator .Keyboard--row .key-CLX {
	background-color: #082554;
}


button {
	color: #eee;
	transition: all 0.5s;
	width: 42px;
	height: 42px;
	position: relative;
	border-radius: 100%;
	padding: 4px 0;
	background-color: rgba(255, 255, 255, 0.1);
	margin: 3px;
	border-style: none;
}

button::active {
	background-color: rgba(255, 255, 255, 0.3);
}

button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
	transition: all 0.3s;
	border-radius: 100%;
}

button:hover::before {
	opacity: 0;
	transform: scale(0.5, 0.5);
}

button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transform: scale(1.2, 1.2);
	border-radius: 100%;
}

button:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}

.screen-button {
	position: absolute;
	top: 1px;
	width: 50px;
	height: 22px;
	left: 280px;
	background-color: #770101;
}

.programmedscreen {
	position: absolute;
	left: 862px;
	top: 10px;
	border: 1px solid #ddd;
	width: 350px;
	height: 620px;
	border-radius: 10px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 50px 50px -45px rgba(0, 0, 0, 0.85);
}

.text-area {
	position: absolute;
	top: 10px;
	height: 550px;
	width: 327px;
	left: 10px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	font-size: 2em;
	text-align: left;
	color: #eee;
}

.clear-button {
	background-color: #082554;
	top: 543px;
	right: 40px;
}

.run-button {
	position: relative;
	top: 543px;
	left: 120px;
	background-color: #770101;
	color: #eee;
	transition: all 0.5s;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	padding: 4px 0;
	margin: 3px;
	border-style: none;
}

.Record-button {
	position: absolute;	
	color: #a50313;
	transition: all 0.5s;
	top: 579px;
	left: 245px;
	width: 80px;
	height: 42px;
	border-radius: 20px;
	text-align: center;
	font-size: 1em;
	

}